In [4]:
import pandas as pd
import numpy as np

In [11]:
series = pd.Series(np.arange(1,20))

In [58]:
series.name = 'ali'

In [59]:
series

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
Name: ali, dtype: int64

In [15]:
series[series % 5 == 0]

4      5
9     10
14    15
dtype: int64

In [21]:
cities = pd.Series(['Karachi', 'Lahore', 'Islamabad', 'Murre', 'Quetta'])

In [22]:
cities

0      Karachi
1       Lahore
2    Islamabad
3        Murre
4       Quetta
dtype: object

In [ ]:
# cities[cities.str.len() % 3 == 0] valid method
cities[cities.apply(lambda kuchbhi : kuchbhi)]

1       Lahore
2    Islamabad
4       Quetta
dtype: object

In [28]:
fruits = pd.Series([' mango ', ' orange ', ' kiwi ', ' grapes ', ' apple ', ' peach '])
fruits

0      mango
1     orange
2       kiwi
3     grapes
4      apple
5      peach
dtype: object

In [29]:
fruits.str.strip()

0     mango
1    orange
2      kiwi
3    grapes
4     apple
5     peach
dtype: object

In [34]:
fruits = fruits.apply(lambda x: x.strip())

In [35]:
fruits

0     mango
1    orange
2      kiwi
3    grapes
4     apple
5     peach
dtype: object

In [40]:
fruits.apply(len)

0    5
1    6
2    4
3    6
4    5
5    5
dtype: int64

In [39]:
fruits.apply(lambda x: len(x))

0    5
1    6
2    4
3    6
4    5
5    5
dtype: int64

In [43]:
fruits.apply(lambda x: len(x) % 5 == 0 or len(x) % 2 != 0)

0     True
1    False
2    False
3    False
4     True
5     True
dtype: bool

In [44]:
fruits[fruits.apply(lambda x: len(x) % 5 == 0 or len(x) % 2 != 0)]

0    mango
4    apple
5    peach
dtype: object

In [55]:
fruits[fruits.apply(lambda x: (len(x) % 5 == 0) | (len(x) % 2 != 0))]

0    mango
4    apple
5    peach
dtype: object

In [82]:
data = {
    'students': ['ali','hassam', 'kashif', 'waseem', 'sattar'],
    'marks' : np.arange(60,65),
    'languages': ['python', 'javascript','typescript','C', 'C sharp']
}

In [83]:
df = pd.DataFrame(data)

In [84]:
data = {
    'students': ['ali','hassam', 'kashif', 'waseem', 'sattar']
    # 'marks' : np.arange(60,65),
    # 'languages': ['python', 'javascript','typescript','C', 'C sharp']
}

In [85]:
pd.DataFrame(data)

  students
0      ali
1   hassam
2   kashif
3   waseem
4   sattar

In [86]:
df.index = ['Karachi','lahore','quetta','murre','naran']

In [87]:
df

        students  marks   languages
Karachi      ali     60      python
lahore    hassam     61  javascript
quetta    kashif     62  typescript
murre     waseem     63           C
naran     sattar     64     C sharp