# Pandas

### Pandas Data Structure
    ## - Series 
    ## - DataFrame

# Series

In [1]:
import pandas as pd

In [6]:
# s1 = pd.Series([10,12,14,20,22,24])
series = pd.Series([1,2,3,4,5])
fruits = pd.Series(['apple', 'banana', 'mango','kiwi', 'fig'])
print(type(series))
print(type(fruits))
print(fruits)

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
0     apple
1    banana
2     mango
3      kiwi
4       fig
dtype: object

In [9]:
print(fruits.size)
print(fruits.shape)
print(fruits.index)

5
(5,)
RangeIndex(start=0, stop=5, step=1)

In [93]:
s1 = pd.Series([10,12,14,20,22,24])
s1

0    10
1    12
2    14
3    20
4    22
5    24
dtype: int64

In [95]:
print(type(s1))

<class 'pandas.core.series.Series'>

In [96]:
s1.size

6

In [97]:
s1.shape

(6,)

In [98]:
s1.index

RangeIndex(start=0, stop=6, step=1)

In [13]:
fruits.values

array(['apple', 'banana', 'mango', 'kiwi', 'fig'], dtype=object)

In [99]:
s1.values

array([10, 12, 14, 20, 22, 24], dtype=int64)

In [ ]:
# Change index at the time of creation
new_series = pd.Series([10,12,14,20,22,24], index=["Anday", "Burger", "Apples","Mangoes", "Alo", "Tomato"])

In [24]:
# Change index of series after creation, either directly or using any method
new_series.index = [9,8,7,6,5,4]
new_series

9    10
8    12
7    14
6    20
5    22
4    24
dtype: int64

In [34]:
print(f'After Using set_axis\n{series.set_axis(new_index)}')
print(f'Original series\n{series}')

After Using set_axis
ali       1
kashan    2
yaman     3
waseem    4
sattar    5
dtype: int64
Original series
0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
new_index = ['ali','kashan', 'yaman', 'waseem', 'sattar']
new_series = series.set_axis(new_index)
# series

In [39]:
# type(new_series.reset_index())
# new_series

pandas.core.frame.DataFrame

In [40]:
new_series

ali       1
kashan    2
yaman     3
waseem    4
sattar    5
dtype: int64

In [43]:
print(new_series['sattar'])
print(new_series['waseem'])

5
4

In [46]:
new_series['kashan':'waseem']

kashan    2
yaman     3
waseem    4
dtype: int64

In [47]:
s1 = pd.Series([10,12,14,20,22,24], index=["Anday", "Burger", "Apples","Mangoes", "Alo", "Tomato"])
s1

Anday      10
Burger     12
Apples     14
Mangoes    20
Alo        22
Tomato     24
dtype: int64

In [50]:
s1

Anday      10
Burger     12
Apples     14
Mangoes    20
Alo        22
Tomato     24
dtype: int64

In [51]:
s1[::-1]

Tomato     24
Alo        22
Mangoes    20
Apples     14
Burger     12
Anday      10
dtype: int64

In [63]:
# Giving Index
s1['Anday': 'Burger']

Anday     10
Burger    12
dtype: int64

In [59]:
s1

Anday      10
Burger     12
Apples     14
Mangoes    20
Alo        22
Tomato     24
dtype: int64

In [65]:
countries = ['karachi', 'lahore', 'quetta', 'pindi', 'sukkur']
countries[3:6]

['pindi', 'sukkur']

In [67]:
# s1.iloc[inclusive:exclusive]
s1.iloc[0:4]

Anday      10
Burger     12
Apples     14
Mangoes    20
dtype: int64

In [74]:
print(s1['Anday': 'Mangoes'])
print(s1.loc['Anday': 'Mangoes'])

Anday      10
Burger     12
Apples     14
Mangoes    20
dtype: int64
Anday      10
Burger     12
Apples     14
Mangoes    20
dtype: int64

In [82]:
# print(s1['Anday': 'Ali'])
print(s1.loc['Mangoes'])
print(s1.iloc[3])

20
20

In [85]:
s1['Anday'] = 'Meri Pasand ki Value'
s1

Anday      Meri Pasand ki Value
Burger                       12
Apples                       14
Mangoes                      20
Alo                          22
Tomato                       24
dtype: object

In [101]:
s1['Anday']

10

In [103]:
s1['Mangoes']

20

In [104]:
s1[4]

22

In [106]:
s1[2:5]

Apples     14
Mangoes    20
Alo        22
dtype: int64

In [107]:
s1["Apples":"Tomato"]

Apples     14
Mangoes    20
Alo        22
Tomato     24
dtype: int64