In [1]:
def multiply(lst):
    result = 1
    for num in lst:
        result *= num

    return result
multiply([2,3,4])

24

#### Write a Python function to multiply all the numbers in a list.
 - Sample List : (8, 2, 3, -1, 7)
 - Expected Output : -33636

In [2]:
# Write your code here
def multiply(list1):
    x=1
    for i in list1:
        x*=i
    return x
multiply([8, 2, 3, -1, 7])

-336

#### Write a Python program for a given string S which may contain lowercase and uppercase characters. The task is to remove all duplicate characters from the string and find the resultant string.
 - Input: Str = HappyNewYear - 
Output: HapyNewY
 - Explanation: After removing duplicate characters such as p, e, a, we have string as “HapyNewYrr”.

In [3]:
def remove_duplicates(string):
    result = ''
    for char in string:
        if char not in result:
            result += char
        elif char == ' ':
            result += ' '
    return result



remove_duplicates('I am Ali khan ')

'I am Ali khn '

In [4]:
# Write your code _here
def removingduplicate(strr):
    result =""
    for i in strr:
        if i not in result:
            
            result = result + i
    return result
removingduplicate("HappyNewYear")

'HapyNewYr'

#### Define a function named square_dict that takes a list of integers as input and returns a dictionary where each key-value pair consists of an element from the input list as the key and its square as the value.
 - Input: [1, 2, 3, 4, 5]
 - Output: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
 - Note: You can use dictionary comprehension for better practiceses

In [5]:
def square(lst):
    result = {}
    for num in lst:
        result[num] = num**2
    return result 

square([1,2,3,4])

{1: 1, 2: 4, 3: 9, 4: 16}

In [6]:
def square_dict(lst):
    return {i:i*i for i in lst}

square_dict([1,2,3,4,5])

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [7]:
def square_dict(lst):
    dic = {}
    for i in lst:
        dic[i] = i*i
    return dic
        
#     return {i:i*i for i in lst}

square_dict([1,2,3,4,5])

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

#### Given a list in Python and provided the positions of the elements, write a fucntion to swap the two elements in the list.
 - Input : List = [1, 2, 3, 4, 5], pos1 = 2, pos2 = 5
 - Output : [1, 5, 3, 4, 2]

In [8]:
def swap(lst, a, b):
    a = a -1
    b = b -1
    lst[a], lst[b] = lst[b], lst[a]
    return lst
swap([1,2,3,4], 1,3)

[3, 2, 1, 4]

In [9]:
def swap(lst, a, b):
    a-=1
    b-=1
    temp = lst[a]
    lst[a] = lst[b]
    lst[b] = temp
    return lst
swap([3,1,5,7], 1,3)

[5, 1, 3, 7]

In [10]:
# write you code here
def swap(lst, pos1, pos2):
    lst[pos1] , lst[pos2] = lst[pos2], lst[pos1]
    return lst

swap([1, 2, 3, 4, 5], 1,-1)

[1, 5, 3, 4, 2]

#### Write a python function to remove a letter "e" from the string "elephant"
 - output = 'lphant' (all 'e' characters are removed)

In [11]:
def remove(string, target):
    result = ''
    for char in string:
        if char != target:
            result += char
    return result

def remove(string, target):
    return ''.join([char for char in string if char != target])

remove('elephant', 't')

'elephan'

In [12]:
def remove_e(a):
    result = ""
    for i in a:
        if i !="e":
            result = result + i
    return result

remove_e("elephant")

'lphant'

In [13]:
def remove(string):
    return ''.join([i for i in string if i!='e'])

remove('elephant')

'lphant'

In [1]:
def rem(string):
    dic={}
    for i in string:
        if i in dic:
            dic[i]+=1
        else:
            dic[i]=1
    output=''
    for key, value in dic.items():
        if value == 1:
            output+=key
    return output

rem("levels")

'vs'

#### Write a python function to count the frequencies of each character in the given string and stored it in a dictionary format.
 - Input: 'listen'
 - Output : {'l':1, 'i':1, 's':1, 't':1, 'e':1, 'n':1}

In [2]:
def counting(string):
    dic = {}
    for i in string:
        if i in dic:
            dic[i]+=1
        else:
            dic[i] = 1
            
    return dic

counting('listen')

{'l': 1, 'i': 1, 's': 1, 't': 1, 'e': 1, 'n': 1}

#### Write a Python function named get_initials that takes a string as input and returns the initials of each word in the string, separated by dots.
 - Input: "John Doe"
 - Output: "J.D"

In [3]:
def get_initials(string):
    splitting=string.split()
    initial=""
    for i in splitting:
        initial+=i[0]
    dots_seperate=".".join(initial)    
    return dots_seperate


get_initials("Abdul Rafay")

'A.R'

In [4]:
def get_initials(string):
    a = string.split()
    
    c = a[0]
    d = a[1]
    return f"{c[0]}.{d[0]}"
get_initials("KARIM SADRDDRUN")

'K.S'

In [5]:
def get_initials(string):
    result = ""
    for i in string.split():
        result =result + i[0] + "."
    return result[:-1]


get_initials("amin sadruddin roghi")

'a.s.r'

In [6]:
def get_initials(string):
    return '.'.join([word[0].upper() for word in string.split()])

get_initials('waseem sattar jawad')

'W.S.J'